body {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

.imgbox {
  overflow: hidden;
}
.imgbox img {
  width: 100%;
}

section {
  padding: 80px 0;
}

header {
  padding: 20px 0;
}
header .imgbox {
  width: 40px;
}
header nav a {
  font-size: 20px;
  color: #8c8999;
  margin-right: 30px;
}
header nav .home-color {
  color: #74bebc;
}
header .trolley {
  display: flex;
  flex-direction: row;
}
header .trolley .icon {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #37b6be;
  position: relative;
  font-size: 25px;
  color: white;
  margin-right: 10px;
}
header .trolley .icon .circle {
  position: absolute;
  top: -7px;
  left: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  color: #37b6be;
}
header .trolley .bars {
  width: 50px;
  height: 50px;
  background-color: #e6ebee;
  color: #ced1d6;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
@media (max-width: 992px) {
  header nav {
    display: none;
  }
  header .trolley .icon {
    display: none;
  }
}
@media (max-width: 768px) {
  header nav {
    display: none;
  }
  header .trolley .icon {
    display: flex;
  }
}

#beautiful {
  background-color: #f4fafb;
}
#beautiful .box h1 {
  font-weight: 700;
  font-size: 68px;
}
#beautiful .box span {
  color: #37b7c3;
}
#beautiful .box h5 {
  color: #676f8b;
  font-size: 20px;
  line-height: 1.3;
  margin: 25px 0 50px 0;
}
#beautiful .box .btn {
  padding: 13px 30px;
  font-size: 20px;
  border-radius: 5px;
  background-color: #38b6c1;
  color: white;
}
#beautiful .box .imgbox {
  margin: 20px 0 10px;
  width: 120px;
}
#beautiful .box h4 {
  font-size: 20px;
}
@media (max-width: 992px) {
  #beautiful .box {
    text-align: center;
  }
  #beautiful .box h5 {
    margin: 20px 0 30px 0;
  }
  #beautiful .imgbox {
    margin-top: 50px;
  }
}
@media (max-width: 768px) {
  #beautiful .box h1 {
    font-size: 50px;
  }
  #beautiful .box h5 {
    margin: 20px 0 30px 0;
  }
}
@media (max-width: 576px) {
  #beautiful .box h1 {
    font-size: 40px;
  }
  #beautiful .box h5 {
    font-size: 18px;
  }
}

#thehome {
  background-color: #f1f8f9;
}
#thehome .textbox h1 {
  color: #36b3bd;
  font-size: 60px;
  font-weight: 700;
}
#thehome .textbox h5 {
  color: #676f8b;
  font-size: 20px;
  margin: 25px 0 50px 0;
  line-height: 1.3;
}
#thehome .textbox .btn {
  padding: 13px 30px;
  background-color: #38b6c1;
  color: white;
  font-size: 20px;
  border-radius: 5px;
}
@media (max-width: 992px) {
  #thehome .textbox {
    text-align: center;
  }
  #thehome .textbox h1 {
    font-size: 60px;
  }
  #thehome .imgbox {
    margin-top: 50px;
  }
}
@media (max-width: 586px) {
  #thehome .textbox h1 {
    font-size: 50px;
  }
  #thehome .textbox h5 {
    font-size: 18px;
  }
}

#works h1 {
  font-weight: 700;
  font-size: 60px;
  color: #36b3bd;
  margin-bottom: 60px;
}
#works .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#works .box .imgbox {
  width: 350px;
}
#works .box .textbox {
  padding: 35px 55px;
}
#works .box .textbox h2 {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 9px;
}
#works .box .textbox h4 {
  font-size: 20px;
  color: #676f8b;
  line-height: 1.3;
}
@media (max-width: 768px) {
  #works .box .imgbox {
    width: 300px;
  }
}
@media (max-width: 430px) {
  #works .box .imgbox {
    width: 250px;
  }
  #works .box .textbox h2 {
    font-size: 22px;
  }
  #works .box .textbox h4 {
    font-size: 20px;
  }
}

#browse .textbox {
  text-align: center;
}
#browse .textbox h1 {
  font-weight: 700;
  font-size: 60px;
  color: #3cc1d8;
}
#browse .textbox h4 {
  font-size: 20px;
  color: #6c7480;
  margin: 20px 0;
  line-height: 1.2;
}
#browse .textbox h4 span {
  color: #3cc1d8;
  text-decoration-line: underline;
}
#browse .btnbox .btn {
  font-size: 18px;
  border: 0.5px solid #bdbdbd;
  padding: 15px 46px;
  margin: 0 20px;
  border-radius: 5px;
}
#browse .btnbox .bgc {
  background-color: #3cc1d8;
  color: white;
}
#browse .box {
  padding: 30px;
}
#browse .box .imgbox {
  width: 150px;
  border-radius: 10px;
}
#browse .box .textbox {
  text-align: left;
  width: auto;
  margin-left: 20px;
}
#browse .box .textbox .minibox {
  display: flex;
  justify-content: space-between;
}
#browse .box .textbox .minibox h2 {
  font-size: 22px;
  font-weight: 700;
}
#browse .box .textbox .minibox h5 {
  color: #3cc1d8;
  font-size: 18px;
}
#browse .box .textbox p {
  margin: 15px 0;
  font-size: 18px;
  line-height: 1.2;
  color: rgba(35, 47, 66, 0.5215686275);
}
#browse .box .textbox .add {
  display: flex;
}
#browse .box .textbox .add input {
  margin-right: 5px;
  border: 1px solid #e1e1e1;
  background-color: #e9e9e9;
  width: 50px;
}
#browse .box .textbox .add .btn {
  background-color: #3cc1d8;
  color: white;
  padding: 7px 20px;
}
#browse .big {
  background-color: #3cc1d8;
  color: white;
  padding: 17px 53px;
  margin-top: 50px;
}
@media (max-width: 992px) {
  #browse h1 {
    font-size: 55px;
  }
  #browse .box .imgbox {
    width: 200px;
  }
}
@media (max-width: 768px) {
  #browse .box {
    display: flex;
    flex-wrap: wrap;
  }
  #browse .box .imgbox {
    width: 240px;
  }
  #browse .box .textbox {
    max-width: 240px;
    margin-left: -2px;
  }
  #browse .box .textbox .minibox {
    margin-top: 15px;
  }
  #browse .box .textbox .minibox h2 {
    font-size: 20px;
  }
  #browse .box .textbox .minibox h5 {
    font-size: 17px;
  }
  #browse .box .textbox p {
    font-size: 18px;
  }
  #browse .btnbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #browse .btnbox .btn {
    padding: 15px 86px;
    margin-bottom: 10px;
  }
}

#order .textbox h1 {
  font-size: 60px;
  font-weight: 700;
  color: #36b3bd;
}
#order .textbox h5 {
  color: #676f8b;
  font-size: 20px;
  margin: 25px 0 50px 0;
  line-height: 1.3;
}
#order .textbox .btn {
  color: white;
  font-size: 20px;
  background-color: #38b6c1;
  padding: 13px 34px;
  border-radius: 5px;
}
@media (max-width: 992px) {
  #order .textbox {
    text-align: center;
  }
  #order .textbox h1 {
    font-size: 55px;
  }
}
@media (max-width: 768px) {
  #order .textbox {
    text-align: center;
  }
  #order .textbox h1 {
    font-size: 50px;
  }
  #order .textbox h5 {
    font-size: 18px;
    margin: 20px 0;
  }
  #order .imgbox {
    margin-bottom: 50px;
  }
}

#callour {
  background-color: #f1f8f9;
}
#callour .textbox h1 {
  font-size: 65px;
  font-weight: 700;
  color: #36b3bd;
}
#callour .textbox h5 {
  color: #676f8b;
  font-size: 20px;
  margin: 25px 0 50px 0;
  line-height: 1.3;
}
#callour .textbox .btn {
  font-size: 20px;
  color: white;
  background-color: #38b6c1;
  padding: 13px 34px;
}
@media (max-width: 992px) {
  #callour .textbox {
    text-align: center;
  }
  #callour .textbox h1 {
    font-size: 60px;
  }
  #callour .imgbox {
    margin-top: 50px;
  }
}
@media (max-width: 768px) {
  #callour .textbox {
    text-align: center;
  }
  #callour .textbox h1 {
    font-size: 55px;
  }
  #callour .textbox h5 {
    font-size: 18px;
    margin: 20px 0;
  }
  #callour .imgbox {
    margin-top: 50px;
  }
}

#support .textbox h1 {
  font-size: 60px;
  font-weight: 700;
  color: white;
  margin: 0 70px 0 40px;
  line-height: 1.1;
}
#support .textbox span {
  color: rgba(36, 102, 114, 0.5137254902);
}
#support .textbox .btn {
  font-size: 22px;
  color: #38b6c1;
  background-color: white;
  padding: 10px 30px;
  margin: 30px 0 0 40px;
}
#support .bgc {
  background-color: #35b6c1;
}
@media (max-width: 992px) {
  #support .imgbox {
    height: 60%;
  }
  #support .textbox {
    padding: 50px 0;
  }
}
@media (max-width: 768px) {
  #support .imgbox {
    height: 90%;
  }
  #support .textbox {
    padding: 30px 0;
  }
}/*# sourceMappingURL=style.css.map */